name: Sync to Hugging Face Hub

on:
  push:
    branches: [main] # Ensure this matches your branch name (main or master)

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: KondetiSuchita
          SPACE_NAME: microstructure-predictor-app
        run: |
          # The token is used to authenticate the push to the Hugging Face remote
          git remote add space https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/$SPACE_NAME
          git push --force space main